@charset "UTF-8";

*{ margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif;}

ul,ol{ list-style-type: none; }

a {color:#a7a7a7; text-decoration:none; font-size:13px;}



#nav_up{ width:100%; height: 35px; background: #202020; 
	text-align: left;}

#nav_up>ul{ float: right;
	width: 480px; height: 25px; color: white; }
	
#nav_up>ul>li{ float: left; margin-left:15px; line-height: 32px; 
	font-size: 13px; }